
<script id="user-template" type="text/x-handlebars-template">
  <p>{{name}}</p>
  <p>{{email}}</p>
  <p><a id="back-to-users" href="#">Back to Users</a></p>
</script> 


<!-- ARTICLES SELECTION -->

<script id="articles-template" type="text/x-handlebars-template">
  <ul>
    {{#each articles}}
      <li class="articles" data-article-id="{{id}}">
        <h1>{{title}}</h1>
        <ul>
          {{#each tags}}
            <li><h2 class="tags" data-tag-id="{{id}}">{{badge}}</h2></li>
          {{/each}}
        </ul>
        <p>{{body}}</p>
        <p>By {{author}}</p>
        <p>{{created_at}}</p>
        <p>Comments: </p>
        <ul>
          {{#each comments}}
          <li>{{body}}</li>
          <p>{{user.name}}</p>
          {{/each}}
        </ul>
        <button id="form-delete-article-{{id}}" class="btn btn-danger btn-sm article-form-opener"> - </button>
      </li>
      <button class="btn btn-default btn-sm articles" data-article-id="{{id}}"> + </button>
    {{/each}}
  </ul>
</script>

<script id="article-template" type="text/x-handlebars-template">
  <h1>{{title}}</h1>
  <ul>
    {{#each tags}}
      <li>
        <h2 class="tags" data-tag-id="{{id}}">{{badge}}</h2>
      </li>
    {{/each}}
  </ul>
  <p>{{body}}</p>
  <p>By {{author}}</p>
  <ul>
    {{#each comments}}
      <li>{{body}}</li>
      <p>{{user.name}}</p>
    {{/each}}
  </ul>
  <% if current_user %>
    <textarea id="comment-body" rows="3" class="form-control" placeholder="Please enter your comment"></textarea>
    <button class="btn btn-default btn-sm" id="add-comment" data-article-id="{{id}}"> post your comment! </button>
  <% else %>
    <p> please login to submit a comment.</p>
  <% end %>
  <p><a id="back-to-articles" href="#">Back to all articles</a></p>
</script>


<!-- TAGS SELECTION -->

<script id="tags-template" type="text/x-handlebars-template">
  <ul id="all-tags">
    <li><h1>Tags :</h1></li>
    {{#each tags}}
      <li><h2 class="tags" data-tag-id="{{id}}">{{badge}}</h2></li>
    {{/each}}
    <p>select one tag for more details</p>
  </ul>
</script>

<script id="tag-template" type="text/x-handlebars-template">
  <ul id="all-tags">
    <li><h1>Selected tag :</h1></li>
    <li><h2>{{badge}}</h2></li>
    <li><p><a id="back-to-tags" href="#"> > </a></p></li>
  </ul>
  <br>
</script>

<script id="tag-articles-template" type="text/x-handlebars-template">
  {{#each articles}}
    <h1>{{title}}</h1>
    <ul>
      {{#each tags}}
        <li>
          <p class="tags" data-tag-id="{{id}}">{{badge}}</p>
        </li>
      {{/each}}
    </ul>
    <p>{{body}}</p>
    <p>By {{author}}</p>
    <p><a id="back-to-articles" href="#">Back to all articles</a></p>
  {{/each}}
</script>

<!-- <section id="content-users"></section> -->

<!-- PAGE  -->
<div id="blog-container">
  <div id="tags" class="row col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-lg-10 col-md-10 col-sm-10">
    <section id="content-tags"></section>
  </div>
  
  <div class="row col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-lg-10 col-md-10 col-sm-10">
    <section id="content-articles"></section>
  </div>
  
  
  <!-- <button id="create-article">Create article</button> -->

  <button id="create-article" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#createArticleModal">
    Create an article
  </button>

</div>

<!-- PAGE  -->

<!-- Modal -->
<div class="modal fade" id="createArticleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create an article</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <input id="title" type="text" class="form-control" placeholder="Title">
          <br>
          <input id="tag" type="text" class="form-control" placeholder="tag">
          <p id="create-article-display-tags"><p>
          <br>
          <textarea id="body" rows="5" class="form-control" placeholder="Body"></textarea>
          <br>
          <input id="author" type="text" class="form-control" placeholder="Author">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="submit-article" class="btn btn-primary" data-dismiss="modal">Create the article</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="deleteArticleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <p class="modal-title" id="myModalLabel">Delete article</p>
      </div>
      <div class="modal-body">
        <h4>Are you sure you want to delete the article ?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No, i will keep it.</button>
        <button type="button" id="delete-article" class="btn btn-primary" data-dismiss="modal">Delete</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



