

<script id="user-template" type="text/x-handlebars-template">
  <p>{{name}}</p>
  <p>{{email}}</p>
  <p><a id="back-to-users" href="#">Back to Users</a></p>
</script> 


<!-- ARTICLES SELECTION -->

<script id="articles-template" type="text/x-handlebars-template">
  <div class="row col-lg-12 col-md-12 col-sm-12"
    <ul>
      {{#each articles}}
        <li>ID : {{id}}</li>
        <li class="articles" data-article-id="{{id}}">
          <div class="row"> 
            <div class="col-lg-10 col-md-10 col-sm-10">
              <h1>{{title}}</h1>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
              <button class="btn btn-default btn-sm articles" data-article-id="{{id}}"> 
                <p> + </p>
              </button>
            </div>
          </div>
            
          <ul>
            {{#each tags}}
              <li><h2 class="tags" data-tag-id="{{id}}">{{badge}}</h2></li>
            {{/each}}
          </ul>
          <p>{{body}}</p>
          <p>By {{author}}</p>
          <p class="created_at_date" data-date="{{created_at}}">{{created_at}}</p>
          
          {{#each comments}}
            <p>Comments: </p>
            <ul>
              <li>{{body}}</li>
              <p>{{user.name}}</p>
            </ul>  
          {{/each}}
          
          <% if current_user && current_user.is_admin %>
            <button id="form-delete-article-{{id}}" class="btn btn-danger btn-sm article-form-opener"> - </button>
          <% end %>
        </li>

        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="chleozam" data-count="none">tweet</a>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6">
            <div class="fb-like" data-href="https://mywebsite.com" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
          </div>
        </div>
      {{/each}}
    </ul>
    <button class="btn btn-default btn-lg" id="show-more-articles"> See more articles! </button>

  </div>

  

  <script id="twitter-wjs" src="http://platform.twitter.com/widgets.js">
  </script>

<script id="article-template" type="text/x-handlebars-template">
  <h1>{{title}}</h1>
  <ul>
    {{#each tags}}
      <li>
        <h2 class="tags" data-tag-id="{{id}}">{{badge}}</h2>
      </li>
    {{/each}}
  </ul>
  <p>{{body}}</p>
  <p>By {{author}}</p>
  <ul>
    {{#each comments}}
      <li>{{body}}</li>
      <p>{{user.name}}</p>
    {{/each}}
  </ul>
  <% if current_user %>
    <textarea id="comment-body" rows="3" class="form-control" placeholder="Please enter your comment"></textarea>
    <br>
    <button class="btn btn-default btn-sm pull-right" id="add-comment" data-article-id="{{id}}"> post your comment! </button>
  <% else %>
    <p> please login to submit a comment.</p>
  <% end %>
  <p><a id="back-to-articles" href="#">Back to all articles</a></p>
</script>


<!-- TAGS SELECTION -->

<script id="tags-template" type="text/x-handlebars-template">
  <ul id="all-tags">
    <li><h1>Tags :</h1></li>
    {{#each tags}}
      <li><h2 class="tags" data-tag-id="{{id}}">{{badge}}</h2></li>
    {{/each}}
    <p>select one tag for more details</p>
  </ul>
</script>

<script id="tag-template" type="text/x-handlebars-template">
  <ul id="all-tags">
    <li><h1>Selected tag :</h1></li>
    <li><h2>{{badge}}</h2></li>
    <li><p><a id="back-to-tags" href="#"> > </a></p></li>
  </ul>
  <br>
</script>

<script id="tag-articles-template" type="text/x-handlebars-template">
  {{#each articles}}
    <div class="row col-lg-12 col-md-12 col-sm-12">
      <h1>{{title}}</h1>
      <ul>
        {{#each tags}}
          <li>
            <p class="tags" data-tag-id="{{id}}">{{badge}}</p>
          </li>
        {{/each}}
      </ul>
      <p>{{body}}</p>
      <p>By {{author}}</p>
      <p><a id="back-to-articles" href="#">Back to all articles</a></p>
    </div>
  {{/each}}
</script>

<!-- <section id="content-users"></section> -->

<!-- PAGE  -->
<div id="main-content-display">

  <% if current_user && current_user.is_admin %>
    <h1>ADMIN MODE</h1>
  <% end %>

  <div id="blog-container">
    <div id="tags" class="row col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-lg-10 col-md-10 col-sm-10">
      <section id="content-tags"></section>
    </div>
    
    <div class="row col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-lg-10 col-md-10 col-sm-10">
      <section id="content-articles"></section>
    </div>
    
    
    <!-- <button id="create-article">Create article</button> -->
    <% if current_user && current_user.is_admin %>
      <button id="create-article" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#createArticleModal">
        Create an article
      </button>
    <% end %>

</div>

<!-- PAGE END  -->

<!-- Modal -->
<div class="modal fade" id="createArticleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create an article</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <input id="title" type="text" class="form-control" placeholder="Title">
          <br>
          <input id="tag" type="text" class="form-control" placeholder="tag">
          <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-10">
              <p id="create-article-display-tags"><p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
              <span id="create-article-delete-input-tags" class="pull-right btn btn-danger btn-sm"> - </span>
            </div>
          </div>
          <br>
          <textarea id="body" rows="5" class="form-control" placeholder="Body"></textarea>
          <br>
          <input id="author" type="text" class="form-control" placeholder="Author">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="submit-article" class="btn btn-primary" data-dismiss="modal">Create the article</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="deleteArticleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <p class="modal-title" id="myModalLabel">Delete article</p>
      </div>
      <div class="modal-body">
        <h4>Are you sure you want to delete the article ?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No, i will keep it.</button>
        <button type="button" id="delete-article" class="btn btn-primary" data-dismiss="modal">Delete</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
