 #wrap, *:before, *:after {
  background-color: rgb(255,255,255);
}

#tags {
  h1 {
    font-size: 140%;
  }
  h2 {
    font-size: 120%;
  }
  ul li {
    margin-right: 20px;
    display: inline-block;
    list-style-type: none;
  }
}
