<header class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand logo" href="/">W Hub</a>
    </div>
    <div class="tagline pull-right">Uniting Talents & Start-ups</div>
  </div>
</header>