<header class="navbar-fixed-top">
  <nav>
    <div class="row header-box">
      <a href="#">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        W Hub
        </div>
      </a>
      <a href="#">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        W HUB BLOG
        </div>
      </a>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <a href="#" class="switch-light">Light</a>
      </div>
    </div>
  </nav>
</header>

