

<!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">W Hub</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Light</a></li>
            <li><%= link_to "Sign out", logout_url, method: :delete, class: "logout-link" %></li>
            <li><a href="#">Light</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>